---
# Only the main Sass file needs front matter (the dashes are enough)
search: false

.btn--medium {
  background-color: #00ab6c;
  color: white;

  &:hover {
    background-color: darken(#00ab6c, 10%);
    color: white;
  }
}

